*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Georgia, serif;
}

body{
  scroll-behavior:smooth;
}

/* 🟥 HERO */
.hero{
  height:100vh;
  background:#8b1e1e;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff3e6;
  text-align:center;
  padding:20px;
}

.card{
  background:#fff3e6;
  color:#8b1e1e;
  padding:40px;
  border-radius:20px;
  width:90%;
  max-width:600px;
}

.date{
  font-size:14px;
  letter-spacing:2px;
}

.divider{
  margin:10px 0;
}

h1{
  font-size:34px;
  letter-spacing:2px;
}

.line{
  height:1px;
  background:#8b1e1e;
  margin:15px 0;
}

.text{
  font-size:14px;
  line-height:1.6;
}

button{
  margin-top:20px;
  padding:10px 20px;
  border:none;
  background:#8b1e1e;
  color:white;
  cursor:pointer;
  border-radius:5px;
}

/* 🟡 INVITE */
.invite{
  background:#fff3e6;
  text-align:center;
  padding:60px 20px;
  color:#8b1e1e;
}

.bismillah{
  font-size:20px;
  margin-bottom:10px;
}

.smalltext{
  font-size:10px;
  margin-bottom:30px;
}

h2{
  font-size:28px;
}

.amp{
  font-size:40px;
  margin:20px 0;
}

.quote{
  margin:30px 0;
  font-weight:bold;
}

.event-card{
  background:#8b1e1e;
  color:#fff3e6;
  padding:20px;
  border-radius:15px;
  display:inline-block;
}

.arabic{
  margin-top:30px;
  font-size:22px;
}

.final{
  margin-top:20px;
  font-size:40px;
}

.footer{
  font-size:12px;
  margin-top:10px;
}
